<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JDMusician</title>
  </head>
  <footer>
    <div class="bg-dark d-flex justify-content-center">
      <div>
        <a href="#" class="btn btn-link text-light">About Us</a>
        <span class="text-light">|</span>
        <a href="#" class="btn btn-link text-light">Contact Us</a>
        <span class="text-light">|</span>
        <a href="#" class="btn btn-link text-light">Privacy Policy</a>
      </div>
    </div>
  </footer>
</html>
