<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Movies</title>
  </head>
  <body>
    <nav>
      <a href="/auth/google">Login</a>
      <a href="/jdmusicians">Musicians</a>
      <a href="/instruments">Instruments</a>
      <% if (user) { %>
      <a href="/jdmusicians/new">Add A JDMusician</a>
      <a href="/logout">Logout</a>
      <% } %>
    </nav>
  </body>
</html>
