<%- include('../partials/header') %>

<body>
  <p>ADD A NEW MUSICIAN</p>
  <form id="new-musician-form" action="/jdmusicians" method="POST">
    Name:
    <input name="name" type="text" value="Name" />
    <br />
    Country:
    <select name="country" id="country-select">
      <option value="US">US</option>
    </select>
    <br />
    Bio:
    <textarea name="bio" type="text" value="Bio" rows="4" cols="25"></textarea>
    <br />
    Instruments:
    <select name="instrumentId">
      <%- instruments.map(inst=> `
      <option value="${inst._id}">${inst.name}</option>
      ` ).join('') %>
    </select>
    <br />
    <input type="submit" value="Add musician" />
  </form>
  <a href="/jdmusicians">GO BACK</a>
</body>

<%- include('../partials/footer') %>
