<%- include('../partials/header') %>

<body>
  <p>ADD A NEW MUSICIAN</p>
  <form id="new-musician-form" action="/jdmusicians" method="POST">
    Name: <input name="name" type="text" value="Name" /><br />
    Country:
    <select name="country" id="country-select">
      <option value="US">US</option></select
    ><br />
    Bio: <input name="bio" type="text" value="Bio" /><br />
    Instruments:
    <input name="instruments" type="text" value="Instrument" /><br />
    <input type="submit" value="Add musician" />
  </form>
  <a href="/jdmusicians">GO BACK</a>
</body>

<%- include('../partials/footer') %>
